@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

.containerDescription {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 1111px;
    position: relative;
}

.containerCopy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 500px;
    margin-left: -10%;

}

.copyHeader {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    z-index: 100;
    margin-bottom: 0;
}

.copyText {
    color: hsl(0, 0%, 55%);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    z-index: 100;
}

.block {
    position: absolute;
    width: 20%;
    height: 60%;
    background-color: white;
    right: 30%;
    bottom: 0%;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .block {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        max-width: 100%;
    }

    .containerDescription {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
    }

    .containerCopy {
        text-align: center;
        max-width: 80%;
        margin: 0;
        /* margin: auto; */
    }
    .copyHeader {
        font-size: 40px;
    }

    .copyText {
        font-size: 18px;
    }
}