@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

.hamburgerMenu {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100%;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: white;
    display: none;
    z-index: 100;
    position: absolute;

}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    font-size: 30px;
    text-transform: uppercase;
    padding: 30% 0 25% 0;
}

.listItem {
    padding: 3%;
}


.closeButton {
    width: 20px;
    height: 20px;
}

.showMenu {
    display: block;
}